
.icon-minus:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-download-alt:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
